VITE_DEX_RPC_URL=https://juno-rpc.kleomedes.network
VITE_DEX_REST_URL=https://juno-api.polkachu.com
VITE_DEX_EXPLORER_URL=https://www.mintscan.io/juno
VITE_DEX_INDEXER_URL=https://indexer.example.com
VITE_DEX_INDEXER_DISABLED=false
VITE_DEX_INDEXER_TIMEOUT_MS=2500
VITE_DEX_INDEXER_RETRY=1
VITE_DEX_INDEXER_STALE_AFTER_MS=120000
VITE_DEX_INDEXER_CIRCUIT_BREAKER_MS=60000
